
@{
    //BIT 285
    //Assignment 2
    //Joan Dawson
    ViewBag.Title = "Create";
}

<h2>Create New Account</h2>

<div class="jumbotron">
    <p>
        Last Name
        <input id="LastName" type="text" runat="server" required />
    </p>
    <p>
        Favorite color
        <input id="FavColor" type="text" runat="server" required />
    </p>
    <p>
        Birth Year
        <input id="BirthYear" type="text" runat="server" />
    </p>
    <p>
        <input type="submit" value="Generator" name="Generate Passwords">
    </p>
    <p>
        Password Options
        <!-- Html.DropDownListFor(n => n.; -->

</div>

