
@{
    //BIT 285
    //Assignment 2
    //Joan Dawson
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="jumbotron">
    <h1>Visitor Login</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Please Login</h2>
        <form method="post">
            <p>
                User Name:
                <input type="text" name="UserID"><br>
            </p>
            <p>
                Password:
                <input type="text" name="Password"><br>
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </div>
</div>

